[user]
	name = Vida Xie
	email = vida_2020@163.com
[core]
	autocrlf = input
[http]
	postbuffer = 5242880000
[pull]
  rebase = true
[rebase]
  autoStash = true
	missingCommitCheck = warn
[log]
  date = format:%Y-%m-%d %H:%M:%S

# config for specific directory
# [includeIf "gitdir:~/xxx"]
# 	path = "~/.gitconfig_xxx"
